## Aufgabe 1a) Erstellen sie ein DataFrame

In [57]:
import pandas as pd

city = ["Wien", "Berlin", "Zürich"]
category_names = ["country", "area", "population"]
country = pd.Series(["Österreich", "Deutschland", "Schweiz"], index=city)
area = pd.Series([414.6, 891.85, 87.88], index=city)
population = pd.Series([1805681, 3562166, 378884], index=city)

df1 = pd.concat([country, area, population], axis=1)
df1.columns = category_names

print(df1)

            country    area  population
Wien     Österreich  414.60     1805681
Berlin  Deutschland  891.85     3562166
Zürich      Schweiz   87.88      378884

Das Grundgerüst des Dataframes ist aufgebaut und mit `stack()` lassen sich die Spaltenindizes "kippen". So erhält man die geforderte Form:

In [27]:
df2 = df1.stack()
print(df2)

Wien    country        Österreich
        area                414.6
        population        1805681
Berlin  country       Deutschland
        area               891.85
        population        3562166
Zürich  country           Schweiz
        area                87.88
        population         378884
dtype: object

## 1b) Sortieren Sie nach dem Index

In [61]:
# sortiere nach Flaeche
df3 = df1.sort_values(by="area", ascending=False)
# wechsle die Spaltenordnung
df3 = df3[["area", "country", "population"]]
print(df3.stack())

Berlin  area               891.85
        country       Deutschland
        population        3562166
Wien    area                414.6
        country        Österreich
        population        1805681
Zürich  area                87.88
        country           Schweiz
        population         378884
dtype: object

## 1c) Vertauschen von Indizes

In [63]:
print(df3.T.stack())

area        Berlin         891.85
            Wien            414.6
            Zürich          87.88
country     Berlin    Deutschland
            Wien       Österreich
            Zürich        Schweiz
population  Berlin        3562166
            Wien          1805681
            Zürich         378884
dtype: object

Da in b) bereits nach Fläche sortiert wurde, können  Zeilen und Spalten einfach vertauscht und gestackt werden.

## Aufgabe 2a) Erzeugen Sie einen DataFrame mit einem Index (nicht nachträglich setzen, Index direkt erzeugen), der aus Vornamen besteht, sowie eine Spalte für das Gewicht und einer Spalte für die Körpergröße.

In [74]:
import pandas as pd

names = ["Siegfried", "Henry", "Sarah", "Elke", "Lulu", "Vera", "Toni", "Maria", "Chris"]
weight = [403, 65, 58, 58, 45, 43, 99, 68, 60]
hight = [180, 179, 165, 172, 154, 150, 189, 176, 175]

data = {"name": names, "Gewicht":weight, "Größe":hight}
dfA = pd.DataFrame(data, columns=["Gewicht", "Größe"], index=names)
print(dfA)

           Gewicht  Größe
Siegfried      403    180
Henry           65    179
Sarah           58    165
Elke            58    172
Lulu            45    154
Vera            43    150
Toni            99    189
Maria           68    176
Chris           60    175

## 2b) Extrahieren Sie alle Zeilen, deren BMI im normalen Bereich liegt, d.h. zwischen 18.5 & 25.
### Es gilt: BMI = Gewicht (kg)/ (Größe in m)².

In [78]:
print(dfA.query("Gewicht / ((Größe/100) ** 2) > 18.5 and Gewicht / ((Größe/100) ** 2) < 25"))

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Elke        58    172
Lulu        45    154
Vera        43    150
Maria       68    176
Chris       60    175

## 2c) Geben Sie alle Zeilen aus, in deren Namen ein kleines "e" vorkommt.

In [87]:
print(dfA[dfA.index.str.contains('e')])

           Gewicht  Größe         BMI
Siegfried      403    180  124.382716
Henry           65    179   20.286508
Elke            58    172   19.605192
Vera            43    150   19.111111

## 2d) Fügen Sie eine Spalte mit dem BMI an.

In [83]:
dfA["BMI"] = dfA["Gewicht"] / ((dfA["Größe"] / 100) ** 2)
print(dfA)

           Gewicht  Größe         BMI
Siegfried      403    180  124.382716
Henry           65    179   20.286508
Sarah           58    165   21.303949
Elke            58    172   19.605192
Lulu            45    154   18.974532
Vera            43    150   19.111111
Toni            99    189   27.714790
Maria           68    176   21.952479
Chris           60    175   19.591837

## 2e) Sortieren Sie nach dem BMI

In [85]:
print(dfA.sort_values(by="BMI", ascending=False))

           Gewicht  Größe         BMI
Siegfried      403    180  124.382716
Toni            99    189   27.714790
Maria           68    176   21.952479
Sarah           58    165   21.303949
Henry           65    179   20.286508
Elke            58    172   19.605192
Chris           60    175   19.591837
Vera            43    150   19.111111
Lulu            45    154   18.974532

## 2f) Geben Sie nun alle Zeilen aus, deren BMI-Werte unter 20 liegen und deren Name ein kleines "e" enthält

In [86]:
cond1 = dfA.BMI < 20
cond2 = dfA.index.str.contains('e')
print(dfA[cond1 & cond2])

      Gewicht  Größe        BMI
Elke       58    172  19.605192
Vera       43    150  19.111111